.DS_Store

# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Expo
.expo/
.expo-shared/
.expo-home/

# React Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / bundler caches
.metro-cache/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

